.button {
    background-color: #FFD681;
    border-color: #FFD681;
    border-radius: 15px;
    color: #000000;
    line-height: 20px;
}

.button:hover {
    background-color: #FFD681;
    border-color: #FFD681;
    color: #000000;
}

.button:active {
    background-color: #FFD681;
    border-color: #FFD681;
    color: #000000;
}

.button:focus-visible {
    background-color: #FFD681;
    border-color: #FFD681;
    color: #000000;
}

.active .bs-stepper-circle {
    background-color: #FFD681 !important;
    border-color: #FFD681 !important;
    color: #000000 !important;
}

.table-style {
    margin-bottom: 5px !important;
}

.table-style thead tr th {
    background-color: #095F59;
    color: #fff;
    padding: 10px;
}

.table-style tbody tr td {
    padding: 10px;
}

tr.inactive td,
.accordion-item .inactive {
    background-color: #8080803b !important;
    border: 1px solid #ccc6c6 !important;
}

.active>.page-link,
.page-link.active {
    background-color: #095F59 !important;
    border-color: #095F59 !important;
    color: #fff !important;
}

.page-link {
    color: black !important;
}

.select-filter {
    border-radius: 50px !important;
    outline: none !important;
    border: none !important;
    margin-top: 20px;
    padding: 12px 30px;
    background-color: #fff;
}

.date-of-birth {
    text-align-last: end !important;
    padding-right: 10px !important;
}

ul.dropdown-menu.sub-menu {
    width: 250px !important;
}

.invalid-feedback {
    display: block !important;
}

div#paginate {
    float: left;
}

#paginate .page-link {
    padding: 4px 8px;
}

.sortTable {
    cursor: pointer;
}

.th-sorting {
    line-height: 4px;
    margin-top: 4px;
}

.th-sorting .disabled {
    color: rgb(169, 169, 169) !important;
}

.table-search {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.table-search input.search {
    outline: none;
    padding: 3px;
    border: 2px solid #a59f9f;
    border-radius: 4px;
}

.time-table {
    border: 2px solid #80808030;
    padding: 15px;
    border-radius: 10px;
    background-color: #80808014;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #FFD681;
    color: black;
}

.multiple-selection span {
    right: 0px !important;
}


.select2-container--default .select2-selection--multiple {
    padding: 2px 20px !important;
    background-color: var(--bs-body-bg) !important;
    background-clip: padding-box !important;
    border: var(--bs-border-width) solid var(--bs-border-color) !important;
    border-radius: var(--bs-border-radius) !important;
}

.col-md-12.text-center.upload-photo {
    margin-bottom: -36px;
}

.upload-photo img {
    cursor: pointer;
    border-radius: 50px;
    border: 1px solid #c7c8c9 !important;
    width: 100px;
    height: 100px;
}

.upload-photo .cam-icom {
    bottom: 25px;
    position: relative;
}

.staff-profile {
    background-color: transparent !important;
    border: 1px solid #c7c8c9 !important;
}

.tables li a.nav-link {
    color: #095F59 !important;
}

.tables.nav-primary.nav-tabs .nav-link.active {
    color: #095F59 !important;
    border-color: #095F59 #095F59 #fff !important;
}

.error {
    font-weight: 500;
}

.time-picker {
    text-align: right !important;
}

.active-menu {
    color: #32393f;
    background-color: #f5f6f7;
}

a.disable-menu {
    pointer-events: none;
    /* cursor: default; */
}

.icon {
    font-size: 25px;
}

.label {
    cursor: pointer;
}

.progress {
    display: none;
    margin-bottom: 1rem;
}

.alert {
    display: none;
}

.img-container img {
    /* max-width: 100%; */
}

.img-container {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#imageForCrop {
    max-width: 100%;
    max-height: 100%;
}

.document {
    border: 1px solid #dee2e6;
    padding: 4px 10px;
    border-radius: 4px;
    margin-left: 3px;
}

.document a {
    color: #202020;
}

.document i {
    cursor: pointer;
}

.light-gray {
    color: #808080 !important;
}

.password-eye {
    position: relative;
    float: left;
    bottom: 28px;
    left: 13px;
    cursor: pointer;
}

.modal-lg {
    max-width: 800px;
}

.img-container {
    width: 100%;
    height: 500px;
    /* Set the height you want */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imageForCrop {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.accordion-row .label {
    color: #095F59;
}

/* .profile-detail {
    height: 500px;
    overflow-y: scroll;
} */

.search-button,
.print-button {
    background: #ffd681;
    padding: 5px 10px;
    font-size: 12px;
    height: 30px;
}

.search-button:hover,
.print-button:hover {
    background: #ffd681;
    padding: 5px 10px;
    font-size: 12px;
}

span.child-tab {
    border: 1px solid #e9ecef;
    padding: 8px 14px;
    cursor: pointer;
}

.child-menu li {
    border: 1px solid #8080804a !important;
    margin: 10px 0px;
    cursor: pointer;
}

.child-menu li h6 a {
    color: #32393f;
}

.medicine-detail {
    border: 1px solid #8080801f;
    border-radius: 5px;
    padding: 25px 15px;
    margin: 10px 4px;
    background: #80808017;
}

.profile-pic-wrapper {
    /* height: 100vh; */
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pic-holder {
    text-align: center;
    position: relative;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.pic-holder .pic {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.pic-holder .upload-file-block,
.pic-holder .upload-loader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(90, 92, 105, 0.7);
    color: #f8f9fc;
    font-size: 12px;
    font-weight: 600;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}

.pic-holder .upload-file-block {
    cursor: pointer;
}

.pic-holder:hover .upload-file-block,
.uploadProfileInput:focus~.upload-file-block {
    opacity: 1;
}

.pic-holder.uploadInProgress .upload-file-block {
    display: none;
}

.pic-holder.uploadInProgress .upload-loader {
    opacity: 1;
}

/* Snackbar css */
.snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 14px;
    transform: translateX(-50%);
}

.snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.document-name {
    word-wrap: break-word;
    white-space: normal;
}

.active-filter {
    background-color: #d5d8db57;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

.small-table {
    width: 50%;
    margin: auto;
}

input.medicine-number {
    background: transparent;
    border: none;
    outline: none;
}

.fullAddress {
    width: 90% !important;
    text-wrap: wrap;
}

.address-column {
    max-width: 200px;
    word-wrap: break-word;
    white-space: normal;
}

.doc-desc {
    text-align: left;
    width: 75%;
}

input.form-control {
    text-align: right;
}

.children-detail {
    width: 50%;
    margin: auto !important;
    padding: 10px 0px;
}

.dropdown.dropdown-filter {
    width: 100%;
    background: white;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    height: 38px;
}

.dropdown-filter-toggle {
    outline: none;
    border: none;
}

.dropdown {
    display: flex;
    align-items: center;
}

.btn-clear-filter {
    margin-left: 5px;
    /* Adjust spacing as needed */
}

/* .sub-menus {
    margin-top: 215px !important;
} */
.sub-menus {
    top: 100%;
}

.accordion-screen::after {
    display: none !important;
}

button.accordion-button.accordion-screen.collapsed {
    padding: 5px 5px 5px 0px !important;
}

.show-icon {
    padding-right: 27px !important;
}

.accordion-button {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.name-col {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

@media (max-width: 1120px) {
    .dropdown {
        /* flex-direction: column; */
        align-items: flex-start;
    }

    .btn-clear-filter {
        /* margin-top: 5px; */
        margin-left: 0;
        align-self: flex-start;
    }

    .dropdown-toggle {
        width: 100%;
    }

    button.btn.dropdown-toggle.dropdown-filter-toggle {
        text-align: right !important;
    }
}

/* calendar css */

.cursor-pointer {
    cursor: pointer;
}

.modal {
    .modal-header {
        background-color: #095F59;
        justify-content: space-between;

        h5,
        h4 {
            color: #fff;
        }

        button.btn-close {
            filter: invert(1);
            margin: 0;
        }

    }

    .draft-list {
        td {
            display: flex;
            align-items: center;
        }
    }
}

.calendar_default_rowheader_inner,
.calendar_default_cornerright_inner,
.calendar_default_corner_inner,
.calendar_default_colheader_inner,
.calendar_default_alldayheader_inner {
    background: #095F59 !important;
    color: #fff !important;
    padding: 10px;
}

.calendar_default_main.calendar_default_direction_rtl>div>div>div:nth-child(2)>div:nth-child(2)>div>div:nth-last-child(-n+14)>.calendar_default_colheader>.calendar_default_colheader_inner {
    /* background: none !important; */
    /* color: #000 !important; */
}

.calendar_default_rowheader_inner {
    background: none !important;
    color: #000 !important;
    text-align: center !important;
    font-weight: 500;
    font-size: 12px !important;
}

/* .calendar_default_main>div>div>div:nth-child(1) {
    float: right !important;
}

.calendar_default_main>div>div>div:nth-child(2) {
    margin: 0 !important;

    div>div>div:nth-child(3) {
        margin: 0 !important;
    }
} */

/* event template */

.event-box {

    height: 100%;
}

.calendar_default_event_inner {
    padding: 0 !important;
    color: #000 !important;
}

.calendar_default_event_bar {
    display: none !important;
}

.calendar-event-overlay {
    width: 20vw;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.table-container table {
    margin: 20px 0;
    border-radius: 20px;
    background-color: #f8f7f4;
}

.table-header th {
    background-color: #095F59 !important;
    color: white;
}

.table th,
.table td {
    text-align: center;
    padding: 15px;
    vertical-align: middle;
}

.weekly-schedule th,
.weekly-schedule td {
    text-align: right;
}

.icon {
    cursor: pointer;
    font-size: 18px !important;
    color: #095F59;
}

.table-checkbox {
    width: 20px;
    height: 20px;
}

.avatar-img {
    width: 122px;
    height: 134px;

    img {
        object-fit: cover;
        border-radius: 10px;
    }
}

.green-light {
    color: #00AEA7;
}

.new-btn-appointment {
    border: 1px solid #D0D0D0;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 900;
    color: #AAAAAA;

    &:hover {
        background: #FFD681;
        color: #000000;
    }
}

#appointmentModal {

    input,
    select,
    textarea {
        border: 1px solid #F0F0F0 !important;
    }
}

.select2-container--default {
    width: 100% !important;
}

.schedule-time {
    padding: 20px;
    background: #f5f5f5;
}

span.event-dropdown-class {
    left: -15px !important;
}

.select2-container .select2-selection--single {
    height: auto !important;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
    margin-left: 15px !important;
    margin-top: 2px !important;
}

@media screen and (max-width:576px) {
    .calendar-event-overlay {
        width: 80vw;

    }

    /* .calendar_default_colheader_back > div:nth-child(2) > div > div{
        width: 500px !important;
    } */
    .calendar_default_cell_inner {
        width: 500px !important;
    }
}